
.organizacion {

    height: 500px;
}



.nav-link {
    color: #929196;
}

.nav-link:hover {
    color: white;
}

.boton {
    font-family:Nunito-Bold ;
     margin-top: 30px; 
     max-width: 205px; 
     background-color: #8C0303;
      border-color: #8C0303;
      width: 100px;
      height: 50px;
      border-radius: 30px;
}

.boton:hover, .send:hover {
    background-color: #343A40 !important;
    border-color: #343A40 !important;
    outline: none !important;
  }
  
 

  .boton:focus,
  .boton:active {
    background-color: #8C0303 ;
    border-color: #8C0303;
    outline: none !important;
    box-shadow: none;
  }
  




.logo {
    position: absolute;
     top: 15px; 
     left: 220px;
    max-width: 155px;
}






.navbar-toggler {
    margin-left: 310px;
    margin-top: 5px;
}


.boton2 {
    background-color: #343A40;
    border-color:#343A40 ;
    margin-left: 480px;
}

.boton2:hover {
    background-color: #8C0303;
    border-color: #8C0303;
}

.mb-0 {
    color: white;
}

.mb-0:hover {
    color: white;
    text-decoration: none;
}




